*,*::after,*::before{
    box-sizing: border-box;
}

:root{
    --cell-size:100px;
    --mark-size: calc(var(--cell-size)*.9);
}

body{
    margin: 0;
}

.turn{
    
    font-size: 50px;
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(2,auto);
    justify-content: center;
    align-content: center;
    align-items: center;
}
.turn.x::before{
    content:"X's" ; 
}
.t{
    margin-left: 1rem;
}
.turn.circle::before{
    content: "O's";
}
.board{
    width: 100vw;
    height: 70vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3,auto);
    
}

.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}
.cell.x,
.cell.circle{
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before,
.cell.circle::after{
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    background-color: lightgray;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n+1){
    border-left: none;
}

.cell:nth-child(3n){
    border-right: none;
}

.cell:nth-child(8),
.cell:nth-child(7),
.cell:last-child{
    border-bottom: none;
}

.cell.x::after,
.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
    content: '';
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    
    position: absolute;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before{
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

.cell.circle::after,
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after{
    content: '';
    border-radius: 50%;
    position: absolute;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
    width: calc(var(--mark-size)*.9);
    height: calc(var(--mark-size)*.9);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after{
    width: calc(var(--mark-size)*.64);
    height: calc(var(--mark-size)*.64);
    background-color: white;
}

.winning-message{
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(0,0,0,.85);

    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;

}

.winning-message button{
    font-size: 4rem;
    background-color: white;
    
    border: 1px solid black;
    border-radius: 4%;
    padding: .2em .5em;
    cursor: pointer;
}
.winning-message button:hover{
    background-color: black;
    border: 1px solid white;
    color: white;
}
.winning-message.show{
    display: flex;
}

@media screen and (max-width:340px) {
    :root{
        --cell-size:10vh;
    }
    
    .turn{
        margin-top: 2px;
        font-size: 20px;
    }
    .winning-message{
        font-size: 3rem;
    }
    .winning-message button{
        font-size: 2rem;
    }
}
@media  screen and (max-height:460px) {
    :root{
        --cell-size:10vh;
    }
    .turn{
        margin-top: 0px;
        font-size:20px;
    }

}